


@font-face {
    font-family: 'montlight';
    src: url('mont-light-webfont.woff2') format('woff2'),
         url('mont-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montlight_italic';
    src: url('mont-lightitalic-webfont.woff2') format('woff2'),
         url('mont-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mont_regularregular';
    src: url('mont-regular-webfont.woff2') format('woff2'),
         url('mont-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montregular_italic';
    src: url('mont-regularitalic-webfont.woff2') format('woff2'),
         url('mont-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montsemibold';
    src: url('mont-semibold-webfont.woff2') format('woff2'),
         url('mont-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montsemibold_italic';
    src: url('mont-semibolditalic-webfont.woff2') format('woff2'),
         url('mont-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montthin';
    src: url('mont-thin-webfont.woff2') format('woff2'),
         url('mont-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montthin_italic';
    src: url('mont-thinitalic-webfont.woff2') format('woff2'),
         url('mont-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montlight';
    src: url('mont-light-webfont.woff2') format('woff2'),
         url('mont-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montlight_italic';
    src: url('mont-lightitalic-webfont.woff2') format('woff2'),
         url('mont-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mont_regularregular';
    src: url('mont-regular-webfont.woff2') format('woff2'),
         url('mont-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montregular_italic';
    src: url('mont-regularitalic-webfont.woff2') format('woff2'),
         url('mont-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montsemibold';
    src: url('mont-semibold-webfont.woff2') format('woff2'),
         url('mont-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montsemibold_italic';
    src: url('mont-semibolditalic-webfont.woff2') format('woff2'),
         url('mont-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montthin';
    src: url('mont-thin-webfont.woff2') format('woff2'),
         url('mont-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montthin_italic';
    src: url('mont-thinitalic-webfont.woff2') format('woff2'),
         url('mont-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}