.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius-24;
    background-color: $cream-orange;
    border: unset;
    font-size: 20px;
    line-height: 27px;
    color: $dark-blue;
    text-transform: uppercase;
    @include hover{
        background-color: $light-blue;
        box-shadow: unset;
        outline: unset;
    }
    &:active{
        background-color: $cream-orange;
        border-color: unset;
        color: $dark-blue;
    }
    &:focus{
        background-color: $cream-orange;
        border-color: unset;
        color: $dark-blue;
        box-shadow: unset;
    }
}
// FORMS 
//INPUT 
.form-control{
    height: 65px;
    width: 100%;
    font-size: 20px;
    line-height: 27px;
    color: $white;
    background-color: $them-blue;
    border: unset;
    border-radius: $radius-24;
    padding-left: 31px;
    @include placeholder{
        font-size: 20px;
        line-height: 27px; 
        color: $white !important;
    }
    @include hover-focus-active{
        background-color: unset;
        color: $white;
        box-shadow: unset;
        border: 1px solid $white;
    }
}
.link-btn{
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: $sky-blue;
    @include hover{
        color: $white;
    }
}
.btn-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius-24;
    background-color: $sky-blue;
    border: unset;
    font-size: 20px;
    line-height: 27px;
    color: $dark-blue;
    text-transform: uppercase;
    @include hover{
        border:  1px solid $white;
        background-color: transparent;
    }
    &:active{
        background-color: $sky-blue;
        border-color: unset;
        color: $dark-blue;
    }
    &:focus{
        background-color: $sky-blue;
        border-color: unset;
        color: $dark-blue;
        box-shadow: unset;
    }
    
}
.btn-gray{
    width: 74px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(78, 126, 193, 15%);
    border-radius: 14px;
    font-size: 13px;
    line-height: 17px;
    position: absolute;
    top: 0;
    right: -85px;
}