/*_mixins.scss
SCSS file for all mixin elements.

@file _mixins.scss
@path /assets/scss/_mixins.scss
@version 2019-10-09
*/

/* Placeholder css property */
@mixin placeholder {
    &::placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-ms-input-placeholder {
        @content;
    }
}

/* fadeIn and fadeOut css property end */
/* hover, focus, active css property Begin */
@mixin hover {
    &:hover {
        @content;
    }
}

@mixin focus {
    &:focus {
        @content;
    }
}

@mixin hover-focus {
    &:hover,
    &:focus {
        @content;
    }
}

@mixin hover-focus-active {

    &:hover,
    &:focus,
    &.active {
        @content;
    }
}

// Source mixins
$mobile:767px;
$tablet-width: 992px;
$mid-desktop-width: 1250px;
$desktop-width: 1400px;
$largeDesktop-width:1600px;
@mixin mobile {
    @media (max-width: #{$mobile}) {
      @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
      @content;
    }
}
@mixin middesktop {
    @media (max-width: #{$mid-desktop-width}) {
      @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop-width}) {
      @content;
    }
}
@mixin largeDesktop {
    @media (max-width: #{$largeDesktop-width}) {
        @content;
    }
}
// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Usage

