// img path
$imgPath :"../assets/images/";

// color variabels 

$light-blue:#4C7DC0;
$dark-blue:#063341;
$sky-blue:#D0E2F6;
$cream-orange:#F8B097;
$blue:#0E1F3B;
$them-blue:#193B69;
$white:#FFFFFF;

// border-radius

$radius-24:24px;
$radius-21:21px;
$radius-14:14px;
$radius-12:12px;
$radius-19:19px;

// font-family

$font-family-mont:  'WebFont', Arial, sans-serif;